<title>Rinku - A Tool for LinkedIn</title>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>


<br><br>
<img src="http://images2.wikia.nocookie.net/__cb20120124215036/zelda/es/images/5/54/Link_Artwork_1_(Ocarina_of_Time).png" width="20%" height="20%" align="middle" padding-left:20px>

<br>
<br>

<div class="row demo-row">

  <form action="/" method="POST">

    <div class="span3">      
      <input type="text" name="company_name" value="<%= @company_name %>" placeholder="Enter Company Name" class="span3" />
    </div>

    <div class="span3">
      <input type="submit" value="RINKU!" class="btn btn-small btn-block btn-primary">
    </div>

  </form>

</div>

<br>

<% if @name_search %>

  <h2>Search Results for <%= @company_name %></h2>
<table id = "searchresults" class="table table-hover" >
  <tbody>
    <tr>
              <b><td>Name:</td></b>
              <b><td>Website URL:</td></b>
            </tr>
      <% @results.each do |name,url| %>
        
          

              <tr>
              <td><%= name %></td>              
              <td><%= url%></td>
               </tr>
     
      <% end %>

                </tbody>
        </table>
    <% end %>

  <script type="text/javascript"> 
  $(document).ready(function() {
    $('#searchresults').find('tr').click( function(){
      var value = $(this).index()

      $.ajax({
        url: '/determinerow',
        dataType: 'json',
        type: 'POST',
        data : { row: value}, // or $(event.target).serialize()
        accepts: "application/json",
        success: function(json) {
          //alert(json);
        }
      })

    });

  });
</script>


<br><br><br>

 <% if @industry %>

	<h2>Information for <%= @name %></h2>

	<table class="table table-hover">
	  <tbody>

      <tr>
      	<td>Website URL:</td>
        <td><%= @url %></td>
      </tr>

      <tr>
      	<td>Email Domain:</td>
        <td><%= @email %></td>
      </tr>

      <tr>
      	<td>Phone Number:</td>
        <td><%= @phone %></td>
      </tr>

      <tr>
      	<td>Industry:</td>
        <td><%= @industry %></td>
      </tr>

      <tr>
      	<td>Number of Employees:</td>
        <td><%= @count %></td>
      </tr>

      <tr>
      	<td>Company Status:</td>
        <td><%= @status %></td>
      </tr>

      <tr>
      	<td>Company Type:</td>
        <td><%= @type %></td>
      </tr>

	  </tbody>
	</table>

<% end %>